

<div style="background:transparent" class="center jumbotron">
  <h1>Welcome to the BLND8 App</h1>
  <h2>
    This is the home page for the
  <a href="#">BLND8</a>App.
  </h2>
  <% if logged_in? %>
  User logged in:
  <%= @current_user.name %>
  <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-lg btn-primary" %>
  <% else %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Log in with Twitter!", '/auth/twitter', class: "btn btn-lg btn-primary" %>
  <% end %>
</div>