<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Bio</th>
      <th>Race</th>
      <th>Sex</th>
      <th>Religion</th>
      <th>Education</th>
      <th>Ocupation</th>
      <th>Income</th>
      <th>Smoker</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Age</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      
      
      
      <th colspan="3"></th>
    </tr>
  </thead>


</table>

<br>

<%= link_to 'New User', new_user_path %>
